.about-inside {
    width: 70%;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 35px;
}

.about-inside p {
  color:#747474;
  font-size: 15px;
}

.about-inside h3 {
    font-weight: lighter;
}

.main-container p{
  line-height: 15px;
}

section {
  display: flex;
  flex-direction: column;
}

.article-top,
.article-bottom,
.article-center {
  display: flex;
  flex-direction: row;

}
.container-tech {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 150px;
  text-align: center;
  margin: 10px;
  align-items: center;
}

.about-inside button {
    color:#de007b;
    font-size: 17px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    width: 250px;
    border: 2px solid #de007b;
    margin: 40px 0px 30px 0px;
    background-color: transparent;
}

.about-inside button:hover {
    background-color: #de007b;
    color: white;
}

.main-container {
  width: 100%;
  align-items: center;
}

section svg {
  width: 45px;
}

.css path:hover {
  fill: #1572B6;
  
}

.react path:hover{
  fill:#53C1DE;
}

.javascript path:hover{
  fill:#F0DB4F;

}

.adobe path:hover {
  fill:#da1f26;
}

.html path:hover {
  fill: #E44D26;
}

.git path:hover {
  fill: #F34F29;
}

.github path:hover,
.touchdesigner path:hover {
  fill: #000;
}

.visual path:hover {
  fill: #007AC5;
}


@media (max-width: 768px) {

  .about-inside p {
    font-size: 13px;
    line-height: 20px;
  }



}