.home {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.home-inside {
    width: 50%;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
    text-align: left;
    font-size: 20px;
}

.home-inside #mas {
    font-size: 16px;
}

#projects {
    font-size: 17px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    padding: 18px;
    width: 170px;
    border: 2px solid blue;
    color: blue;
    margin: 20px 0px 20px 0px;
    background-color: transparent;
}

#projects a {
    color: blue;
    text-decoration: none;
}

#projects:hover  {
    background-color: blue;
    color: white;
}

#projects a:hover {
    color: white;
}

.contact-me {
    width: 50%;
    border: 1px solid black;
    margin-top: 100px;
    margin-right: 50px;
}


