.home {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 28px;
    margin-right: 28px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    line-height: 23px;
}

.home-inside #mas {
    font-size: 16px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  width: 350px;
}

#projects {
    font-size: 17px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    padding: 18px;
    width: 170px;
    border: 2px solid #de007b;
    color: #de007b;
    margin: 20px 0px 20px 0px;
    background-color: transparent;
}

#projects a {
    color: #de007b;
    text-decoration: none;
}

#projects:hover  {
    background-color: #de007b;
    color: white;
}

#projects a:hover {
    color: white;
}

.contact-me img {
    margin-top: 0;
    width: 350px;
    height: auto; 
}

@media (max-width: 768px) {

    .home {
        width: 80%;
        
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-left: 50px;
        overflow-x: hidden;
    }

    .titles {
      display: flex;
      flex-direction: column;
    }

    .titles p {
      line-height: 22px;
    }

    #projects {
      justify-content: center;
    }

    .contact-me {
      margin-top: 30px;
    }

    .contact-me img {
      margin-top: 0;
      width: 270px;
      height: auto;
  }
}

