@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html {
    height: 100%;
    scroll-behavior: smooth;
}

body { 
margin: 0;
 padding: 0;
 font-family: 'Roboto Mono', monospace;
 height: 100%;
}
 