.the-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    width: 50px;
    margin-left: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box ;
}

.the-button:focus {
    outline: none;
}

.button-line {
    width: 6px;
    height: 6px;
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
    background: black;
}