.sidebar {
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 35%;
    max-width: 250px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar li {
    margin:  0.5rem 0 ;
}

.sidebar ul li a {
    margin: 20px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.sidebar ul li a:hover,
.sidebar ul li a:active {
    color: aquamarine;
}

@media(min-width: 769px) {
    .sidebar {
        display: none;
    }
}
